@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(
      140deg,
      rgba(143, 57, 201, 1) 0%,
      rgba(210, 55, 55, 1) 100%
    );
  }
}

@layer components {
  .border-with-gradient {
    border-width: 6px;
    border-image-source: var(--gradient);
    border-image-slice: 1;
  }

  .clipped-background-gradient {
    background-image: var(--gradient);
    background-clip: text;
  }
}
