@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .min-h-screen-spacing-8 {
      min-height: calc(100vh - theme("spacing.8"));
    }

    .min-h-screen-spacing-16 {
      min-height: calc(100vh - theme("spacing.16"));
    }

    .max-w-80ch {
      max-width: 80ch;
    }
  }

}

@layer utilities {
  .print-page-break {
    page-break-before: always;
  }
}

@layer components {
  .bullet::before {
    content: "⇥ ";
    font-size: theme("fontSize.2xl");
  }
}

@layer base {
  @media print {
    html {
      font-size: 15px;
    }
  }
}
