@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .svg-stroke-black {
      stroke: black;
    }
  }

  @variants responsive {
    .children-text-black > * {
      color: black;
    }
  }

  @variants responsive {
    .min-h-screen-spacing-8 {
      min-height: calc(100vh - theme("spacing.8"));
    }

    .min-h-screen-spacing-16 {
      min-height: calc(100vh - theme("spacing.16"));
    }
  }
}

@layer components {
  .bullet::before {
    content: "⇥ ";
    font-size: theme("fontSize.2xl");
  }
}
